sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex<2.0.0 # version 2 incompatible
                           # as of 2021-01-05
                           # see https://github.com/executablebooks/jupyter-book/issues/1137
sphinx-jsonschema
sphinxcontrib-images
numpydoc
rendre>0.0.11

